{% extends 'main.html' %}

{% block content %}



<h1>Forums</h1>
<!--For the mobile screen-->
<div class="mobile-topic"></div>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="">All</a>
                {% for topic in topics%}
                <div>
                    <a href="">{{topic.name}}</a>
                </div>
                {% endfor %}
                
                <a href="">Create Room</a>
                
            </div>
    </div>
</div>
<!--End the mobile screen-->

<div class="home-wrapper">
    <div class="create-room-wrapper">
        <a href="">Create Room</a>
    </div>
    <!--Feed -->
    <div class="feed-container">

    </div>
    <!--End Feed-->
    <!--Topic-->
    <div class="topic-wrapper">

    </div>
    <!--End Topic-->
</div>


{% endblock content %}